#account-overview {
    padding-top: 40px;
    padding-bottom: 90px;
}

#account-overview h4, h5 {
    text-align: center;
    color: black;
}

#greeting {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

#title {
    font-size: 18px;
    letter-spacing: 1px;
}

.address-title, .history-title {
    font-weight: 600;
    font-size: 13px;
    color: black;
    padding-bottom: 7px;
}

.main-context {
    padding-top: 50px;
}

.account-info {
    padding-top: 10px;
}

.account-info .name, .account-info .email, .account-info .birthday,
.account-info .phone {
    letter-spacing: 1px;
    font-size: 15px;
}

.account-info .birthday a,.account-info .email a,.account-info .name a,.account-info .phone a{
    color: black;
    font-size: 16px;
    transition: all ease-in-out 0.2s;
}

.account-info .birthday a:hover,.account-info .email a:hover,.account-info .name a:hover,.account-info .phone a:hover {
    color: #d80000;
}

.info-message-account {
    padding-top: 20px;
    padding-bottom: 25px;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

.manage-address-button {
    padding-bottom: 30px;
}

.manage-address-button a {
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 0.3s;
}

.manage-address-button a:hover {
    color: #d80000;
    padding-bottom: 5px;
    border-color: #d80000;
}

.info-message-history {
    letter-spacing: 1px;
    font-size: 15px;
}

.logout-button {
    text-align:center;
}

.logout-button a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
    border-bottom: 2px solid transparent;
}

.logout-button a:hover {
    color: #d80000;
    border-color: #d80000;
}

.bag-item .image {
    padding: 0 6px 0;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
// border-left: 4px solid gray;
// border-right: 4px solid gray;
    border-radius: 6px;
}

.bag-item .image img {
    width: 100%;
}

.bag-item-info {
    color: black;
    font-size: 14px;
}

.bag-item-info .main-info .name {
    color: #444;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.bag-item-info .main-info .size {
    font-size: 13px;
    color: #666;
    font-weight: 300;
}

.bag-item-info .main-info .amount {
    font-size: 13px;
    color: #666;
    font-weight: 300;
}

.cost-info {
    text-align: right;
    font-weight: 600;
    color: #333;
    font-size: 17px;
}

.bag-item-info {
    padding-left: 4px;
    padding-right: 0;
}

.order {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 20px;
    padding-left: 5px;
    margin-bottom: 30px;
}

.bag-item {
    padding-right: 5px;
}

.order-date {
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.header {
    color: black;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 13px;
}

.content {
    font-size: 15px;
    letter-spacing: 1px;
}

.bag-item {
    padding: 5px 0 5px;
}

.content {
    text-align: right;
}

.order-address .content {
    text-align: left;
}

.user-name a {
    color: #666;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 0.2s;
}

.user-name a:hover {
    color: #d80000;
    border-color: #d80000;
}

.save-button {
    text-align: center;
    margin: 20px 0 10px;
}

.save-button button {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 30px 10px;
    transition: all ease-in-out 0.3s;
}

.save-button button:hover {
    background-color: #d80000;
}

.payment-status select {
    border: 1px solid black;
    outline: none;
    margin-bottom: 3px;
}

.order-status select {
    border: 1px solid black;
    outline: none;
}


.back-button {
    text-align: center;
}

.back-button a {
    color: black;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
}

.back-button a:hover {
    color: #d80000;
    padding-bottom: 2px;
    border-color: #d80000;
}